.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.box img {
    width: 80%;
    height: 200px;
}

.box h2 {
    font-size: 16px;
    margin: 10px 0;
}

.box p {
    font-size: 14px;
    margin: 5px 0;
}

.wrapper {
    position: fixed;
    background-color: var(--dark);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
}

.recipeModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.formClass {
    color: white;
    width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formClass input, .formClass textarea {
    padding: 0.4rem;
    font-size: 1.2rem;
}