.productCard {
    border-radius: var(--br-lg);
    display: flex;
    height: 400px;
    margin: var(--space-xl) auto;
    max-width: 1000px;
    padding: 0 var(--space-sm);
    position: relative;
}

.imgWrapper {
    border: 1px solid var(--grey-1);
    border-radius: var(--br-lg) 0 0 var(--br-lg);
    border-right: none;
    max-width: 450px;
    width: 100%;
}

.productImage {
    border-radius: var(--br-lg) 0 0 var(--br-lg);
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.detailsWrapper {
    border: 1px solid var(--grey-1);
    border-left: none;
    border-radius: 0 var(--br-lg) var(--br-lg) 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--space-sm);
    gap: 1rem;
    width: 100%;
    overflow-y: scroll;
}

ol {
    padding: 0 1rem;
}

.title {
    font-size: var(--fs-md-1);
    font-weight: var(--fw-6);
    width: 80%;
}

.vendor {
    color: var(--grey-4);
}

.description {
    margin-top: 0.2rem;
    line-height: 1.5;
}










/*
  ***************** MEDIA QUERIES *****************
  */
@media screen and (max-width: 768px) {
    .badgeIconWidth {
        height: 50px;
        width: 40px;
    }
}

@media screen and (max-width: 640px) {
    .productCard {
        flex-direction: column;
        height: 100%;
    }

    .detailsWrapper {
        border: 1px solid var(--grey-1);
        border-top: none;
        border-radius: 0 0 var(--br-lg) var(--br-lg);
    }

    .imgWrapper {
        border: 1px solid var(--grey-1);
        border-bottom: none;
        border-radius: var(--br-lg) var(--br-lg) 0 0;
    }

    .productImage {
        border-radius: var(--br-lg) var(--br-lg) 0 0;
    }

    .imgWrapper {
        height: 200px;
        max-width: 640px;
    }

    .badgeIconWidth {
        height: 40px;
        width: 30px;
    }

    .cardDiscount {
        font-size: var(--fs-xxs-2);
    }
}